/* ========================================
  Keyframes
=========================================== */

@keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-30px);
      opacity: 1;
    }
  }
  
  @keyframes slideUp-week {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-60px);
      opacity: 1;
    }
  }

  @keyframes slideUpWide {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-95px);
      opacity: 1;
    }
  }

  @keyframes slideUpWide-week {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-120px);
      opacity: 1;
    }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  